/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2rem;
}

/* About section */
#about {
  background: #f4f4f4;
  display: flex;
}

.propic {
  height: 24rem;
  width: 24rem;
  border-radius: 100%;
}

.hello {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden; /* Hides the overflow of the text */
  white-space: nowrap; /* Prevents the text from wrapping */
  font-size: 3rem;
  gap: 0.5rem;
}

.hello h1 {
  display: inline-block;
  animation: typing 3s steps(40, end); /* Change the duration and steps as needed */
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  font-weight: 200;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.blinking-cursor {
  width: 1rem;
  height: 4rem;
  background: #333;
  border-radius: 0.125rem;
  animation: blink-animation 1s ease-in-out infinite;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
}

/* Projects section */
#projects {
  background: #eee;
}

.project {
  margin-bottom: 2rem;
}

.project h3 {
  margin-bottom: 0.5rem;
}

.project a {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.project a:hover {
  background: #555;
}

/* Contact section */
#contact {
  background: #f4f4f4;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
